<div class="layout-footer">
  <div class="logo">
    <button id="hub-btn">MyHubEvent</button>
    <p>Fédération associative régionale</p>
  </div>
  <div class="cards">
    <div class="footer-card">
      <h2>Navgation</h2>
      <button>Catalogue</button>
      <button>Mon calendrier</button>
      <button>Clubs</button>
    </div>
    <div class="footer-card">
      <h2>Ressources</h2>
      <button>Conditions d'utilisation</button>
      <button>Politique RGP</button>
      <button>Aide</button>
    </div>
    <div class="footer-card">
      <h2>Contact</h2>
      <p>contact@example.fr</p>
      <p>01 02 03 04 05</p>
    </div>
  </div>
  <div class="copyright">
    <p>© 2026 MyHubEvent · Fédération associative régionale</p>
  </div>
</div>
