<div class="layout-footer">
  <div class="logo">
    <button id="hub-btn">MyHubEvent</button>
    <p>Fédération associative régionale</p>
  </div>
  <div class="cards">
    <div class="footer-card">
      <h2>Navgation</h2>
      <button routerLink="/">Catalogue</button>
      <button routerLink="/">Mon calendrier</button>
      <button routerLink="">Clubs</button>
    </div>
    <div class="footer-card">
      <h2>Ressources</h2>
      <button routerLink="/">Conditions d'utilisation</button>
      <button routerLink="/">Politique RGP</button>
      <button routerLink="/">Aide</button>
    </div>
    <div class="footer-card">
      <h2>Contact</h2>
      <a href="mailto:contact@monsite.fr">contact@monsite.fr</a>
      <a href="tel:+33561234567">05 61 23 45 67</a>
    </div>
  </div>
  <div class="copyright">
    <p>© 2026 MyHubEvent · Fédération associative régionale</p>
  </div>
</div>
