<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse e-mail</th>
      <th>Rôle</th>
      <th>Club affilié</th>
      <th>Statut</th>
      <th>Créé le</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users(); track user.id) {
    <tr>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ roleLabels[user.role] }}</td>
      <td>
        @for (club of user.clubs; track club.id) {
        <span>{{ club.name }}</span>
        } @empty {
          —
        }
      </td>
      <td>{{ accountStatusLabels[user.status] }}</td>
      <td>{{ user.creationDate | date: 'dd/MM/yyyy' }}</td>
      <td>
        <button>
          Modifier
        </button>

        @if (user.status === 'SUSPENDED') {
          <button (click)="onReactivate(user.id)">
            Réactiver
          </button>
          } @else {
          <button (click)="onSuspend(user.id)">
            Suspendre
          </button>

        }


        <button (click)="onDelete(user.id)">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
