<div class="layout-header">
  <button class="Logo">MuHubEvent</button>
  <div class="page-space">
      <button class="page-select" routerLink="/">Catalogue</button>
      @if (isAffiliated()) {
        <button class="page-select" routerLink="/">Mon club</button>
      } @else {
        <button class="page-select" routerLink="/clubs">Clubs</button>
      }

      @if (user()) {
        <button class="page-select" routerLink="/">Tableau de bord</button>
        <button class="page-select" routerLink="/">Mon calendrier</button>
        <button class="page-select" routerLink="/account">Mon compte</button>
      }

      @if (user()?.role === 'ORGANIZER') {
        <button class="page-select" routerLink="/">Gérer les évènements</button>
      }
      @if (user()?.role === 'ADMINISTRATOR') {
        <button class="page-select" routerLink="/admin">Gestion</button>
      }
  </div>
  <div class="login-space">
    @if (user(); as u) {
      <p>{{ u.firstName }} {{ u.lastName }} - {{ roleLabels[u.role] }}</p>
      <button class="logout-btn" (click)="logout()">Déconnexion</button>
    } @else {
      <button class="login-btn" routerLink="/login">Se connecter</button>
      <button id="create-acc-btn" routerLink="/createAccount">Créer un compte</button>
    }
  </div>
</div>
