<div class="event-main">
  <div class="title-section">
    <h1>Les évènement de la fédération</h1>
    <p>Tournois, sorties et réunions des clubs affiliés. Les évènements au status brouillon de son pas listés.</p>
  </div>
  <form [formGroup]="filters" (ngSubmit)="search()">
    <div class="filter-section">
      <div class="filter">
        <p>Mot-clé</p>
        <input type="text" formControlName="keyword">
      </div>
      <div class="filter">
        <p>Catégorie</p>
        <select formControlName="category">
          <option value=""></option>
          <option value="CULTURE">Culture</option>
          <option value="SPORT">Sport</option>
          <option value="HOBBIES">Hobbies</option>
        </select>
      </div>
      <div class="filter">
        <p>Club oragnisateur</p>
        <input type="text" formControlName="organizerFirstName">
      </div>
      <div class="filter">
        <p>Ville</p>
        <input type="text" formControlName="city">
      </div>
      <div class="filter">
        <p>Date de début</p>
        <input type="date" formControlName="startDate">
      </div>
      <div class="filter">
        <p>Date de fin</p>
        <input type="date" formControlName="endDate">
      </div>
      <div class="filter">
        <p>Status</p>
        <select formControlName="status">
          <option value="PUBLISHED">Publié</option>
          <option value="CANCELLED">Annulé</option>
        </select>
      </div>
      <button type="button" (click)="resetFilter()">Réinitialiser</button>
      <button type="submit">Rechercher</button>
    </div>
  </form>

  <div class="event-section">
    <div class="event-sub-section">
      <p id="counter">{{ totalElements }} évènements</p>
      <div class="sort">
        <p>Trier par: </p>
        <select>
          <option>Date croissante</option>
          <option>Date décroissante</option>
      </select>
      </div>

    </div>
    <div class="carousel">
      @for (event of events(); track event.id){
        <div class="event-card">
          @if (event.imageGallery.length > 0) {
            <img alt="image-galerie" src="{{event.imageGallery[0].path}}">
          }@else {
            <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" width="350" alt="Icon No Download"  title="Image from freeiconspng.com"/>
          }
          @if(event.remainingSpots > 0){
            <p class="event-card-header">{{event.category}} - <span style="color: green">Place disponibles</span></p>
          }@else {
            <p class="event-card-header">{{event.category}} - <span style="color: red">Complet - Liste d'attente</span></p>
          }
          <h3>{{ event.title}}</h3>
          <p>Organisé par: {{event.organizerFirstName}} {{event.organizerLastName}}</p>
          <p>Date: {{ event.startDateTime | date:'dd/MM/yyyy'}} - {{ event.endDateTime | date:'dd/MM/yyyy'}}</p>
          <p>Lieu: {{ event.location.street1}}, {{ event.location.city}}, {{ event.location.postalCode}}</p>
          <p>Places disponile: {{ event.remainingSpots}}/{{ event.maxCapacity}}</p>
          <div class="event-card-footer">
            <p>{{ event.affiliatePrice}}€ affilié - {{ event.nonAffiliatePrice}}€ non affilié</p>
            <button>Voir le détails</button>
          </div>

        </div>
      }
    </div>
    <div class="pagination">
      @if (currentPage > 1){
        <button (click)="previousPage()"> Précédent</button>
      }

      <span>
        Page {{ currentPage }} / {{ totalPages}}
      </span>

      @if (currentPage < totalPages) {
        <button (click)="nextPage()">Suivant</button>
      }
    </div>
  </div>
</div>
